<h1>Listing people</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Company</th>
      <th>Job title</th>
      <th>Phone</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.email %></td>
        <td><%= person.company %></td>
        <td><%= person.job_title %></td>
        <td><%= person.phone %></td>
        <td><%= person.website %></td>
        <% if person.highrise_id != nil %>
          <td><b>✓</b></td>
        <% else %>
          <td></td>
        <% end %>
        <% if person.highrise_id == nil %>
            <td><%= link_to 'Add to Highrise', person_highrise_save_path(person) %></td>
        <% else %>
            <td><%= link_to 'Delete from Highrise', person_highrise_delete(person) %></td>
        <% end %>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>

<%= link_to 'Log out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
