<div class="panel panel-default">
  <div class="panel-heading">Listing people</div>
    <div class="panel-body">
      <div class="panel panel-success" style="padding:1%">
        <table class="table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Company</th>
              <th>Job title</th>
              <th>Phone</th>
              <th>Website</th>
              <th colspan="5">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @people.each do |person| %>
              <tr>
                <td><%= person.name %></td>
                <td><%= person.last_name %></td>
                <td><%= person.email %></td>
                <td><%= person.company %></td>
                <td><%= person.job_title %></td>
                <td><%= person.phone %></td>
                <td><%= person.website %></td>
                <% if person.highrise_id != nil %>
                  <td><b>✓</b></td>
                <% else %>
                  <td></td>
                <% end %>
                <td>
                  <%= link_to 'Save to Highrise', person_highrise_save_path(person), title: "Save to Highrise" %>
                </td>
                <td>
                  <%= link_to person, title: "Show" do %>
                    <span class="glyphicon glyphicon-user"></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_person_path(person), title: "Edit" do %>
                    <span class="glyphicon glyphicon-edit"></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to person, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete" do %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <%= link_to(new_person_path) do%>
  <div>
    <button type="button" class="btn btn-success btn-lg" style="margin: 1%">New Person</button>
  </div>
  <% end %>
  <br>
<br>


