<fieldset>
 <div class="page-header"><h1>Sign in</h1></div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, placeholder: "E-mail", class: "form-control input-md"  %>
  </div>

 <div class="form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password, class: "form-control input-md"  %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

 <div class="form-group">
    <div>
      <%= f.submit "Sign in", class: "btn btn-success btn-lg"%>
    <% end %>
    </div></br>
  </div>
</fieldset>
<%= render "devise/shared/links" %>