<!DOCTYPE html>
<html>
<head>
  <title>Highrise Integration</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => "layouts/header" %>
    <div class="row">
        <% if notice %>
          <div class="alert alert-success alert-dismissable" style="margin-right: 2%; margin-left: 2%">
            <%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= notice %>
          </div>
        <% end %>
      
        <% if alert %>
          <div class="alert alert-danger alert-dismissable" style="margin-right: 2%; margin-left: 2%">
            <%= alert %>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          </div>
        <% end %>
      
	<div class="container">
		<div class="row">
			<%= yield %>
		</div>
	</div>
	<%= render :partial => "layouts/footer" %>
</body>
</html>
